---
 const personalImageAlt = "Elian Fragozo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Elian Fragozo pero mis amigos me llaman Elian. Actualmente cursando el último semestre de Ingeniería de Sistemas en la Universidad Popular del Cesar, he adquirido sólidos conocimientos en desarrollo backend, frontend y análisis de datos. Mi interés por las tecnologías de desarrollo web y móvil me ha impulsado a dominar diversas herramientas, como .NET, Node.js, Flutter, JavaScript y bases de datos tanto SQL como NoSQL. Mi formación académica me ha permitido participar en proyectos complejos, y siempre busco mantenerme actualizado con las últimas tendencias tecnológicas. <strong
        >finalizando mi formacion universitaria</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Desarrollar un software para un Biomedico Deportivo</strong
      >. Que tiene objetivo primordial facilitar la manipulación de la información que es almacenada en una base de datos, este proyecto tiene como objetivo Analizar, diseñar e implementar un producto software que administre el registro de deportistas y fichas técnicas a través de una página Web, para Centro Biomédico deportivo; para esto se diseña un sistema de información completo y fiable que contiene información actualizada y el cual es de fácil acceso e interacción..
    </p>

    <p>
      Como estudiante, <strong
        >Cuento con conocimientos en el area de la programacion
        como lo es <em class="italic">Desarrollo Backend</em></strong
      >. A futuro, mi objetivo es especializarme en el desarrollo de soluciones tecnológicas avanzadas, trabajando con arquitecturas de microservicios y servicios en la nube. Aspiro a contribuir en equipos de alto rendimiento que me permitan seguir creciendo como profesional, aplicando mi conocimiento para resolver desafíos complejos en la industria de software.
    </p>
  </div>

  <img width="200" height="200" src="/elian foto.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
